<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About us</title>

    <link href="/css/about.css" th:href="@{/css/about.css}" rel="stylesheet"/>
</head>






<body>
<header id="home" class="header">
    <nav class="nav" role="navigation">
        <div class="container nav-elements">
            <div class="branding">

            </div><!-- branding -->
            <ul class="navbar">
<!--                Logo -->
                <img class="image" src="/webapp/images/m&z.png" th:href="@{/webapp/images/m&z.png}" alt="M&Z-logO"/><br />


                <li><a href="/home">home</a></li>
                <li><a href="/service">service</a></li>
                <li><a href="/contact">contact</a></li>
                <li><a href="/about">about</a></li>
            </ul><!-- navbar -->
        </div><!-- container nav-elements -->
    </nav>
</header>

<!-- #home -->


<div class="allPage">


    <b>Independent painter </b> <br><br>

    &bull; Took up various painting projects including houses, schools and offices; interior and exterior <br>

    &bull; completed a project wherein I served as a valuable member of the team that painted 50 ships for launching <br>

    &bull; Executed several projects that yes of wood techniques like seizing, painting and polishing wooden furniture <br>


    <br><br>


    <b>Education: </b> <br>

    Certificate lll on painting and decorating <br>

    Full license on painting <br>


    <br><br>
    <b>ADD ATTRACTIONS </b> <br>

    &bull; Own a reliable vehicle for transport to and from work site <br>

    &bull; Possess personal basic painting hand tools kit. <br> <br>
    </p>

    <br /><br />

    <div id="proEx">
        <h3>Education</h3>

        <br>

        Certificate lll on painting and decorating <br />

        Full license on painting <br />

        <br /><br />
        <b>ADD ATTRACTIONS </b> <br />

        &bull; Own a reliable vehicle for transport to and from work site <br />

        &bull; Possess personal basic painting hand tools kit. <br />
        <br>



    </div>

    <!-- all body -->
</div>

<!--  Footer  -->




</body>
</html>
