<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact us</title>

    <link href="/css/contact.css" th:href="@{/css/contact.css}" rel="stylesheet"/>
</head>




<body>
<div class="header">
    <!-- head -->
    <h1 class="head">M&Z Painting & Repairs</h1>
    <!--  Logo -->
    <img class="image" src="/webapp/images/m&z.png" th:href="@{/webapp/images/m&z.png}" alt="M&Z-logO"/><br />


    <li>
        <a href="/home">Home</a>
        <a href="/service">Service</a>
        <a href="/contact">Contact</a>
        <a href="/about">About us</a>
    </li>

</div>


<p class="fHead">
    <b> How can we assist ?</b> <br> Call Zubair on
    <strong>0423492494</strong> or fill out the form below.
</p>



<!--  Form  -->
<div id="form">

     <form action="contacting" th:Object="${data}" th:action="@{/contacting}" method="POST">

        <label>Your Name:</label><br />
        <input type="text" th:field="*{name}" placeholder="John" required/></br>
         <p th:if="${#fields.hasErrors('name')}" th:error="*{name}"></p>

        <label>Your Suburb:</label><br />
        <input type="text" th:field="*{suburb}"  placeholder="" /><br />
         <p th:if="${#fields.hasErrors('suburb')}" th:errors="*{suburb}" required></p>

        <label>Email</label><br />
        <input type="email" th:field="*{email}" placeholder="example@email.com"/><br />
         <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" required ></p>

        <label>Phone</label><br />
        <input type="tel" th:field="*{phone}"/><br />

        <label>Please tell us how we can help</label>
        <br />
        <textarea type="text" th:field="*{text}" rows="10" cols="40"></textarea><br />

        <div>
            <input type="submit" class="submit" value="Submit" />

            <br /><br />
        </div>
    </form>
</div>



<!--  Footer  -->
<footer class="footer">
    <a class="fa fa-facebook" style="color:rgb(241, 243, 239);" href="https://www.facebook.com/M&Z.painting.au/" target="_blank"></a>
    <a href="mailto:mz_painting@yahoo.com" class="email">mz_painting@yahoo.com</a>
    <p>&COPY;M&ZP-R 2021</p>
</footer>
</body>
</html>