<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <link href="/css/mainStyle.css" th:href="@{/css/mainStyle.css}" rel="stylesheet" />

</head>
<body>


<!-- Head-Menu -->
<div class="header">
    <div id="menu">
        <!-- head -->
        <h1 class="head">M&Z Painting & Repairs</h1>

        <!--  Logo -->
        <img class="image" src="/webapp/images/m&z.png" th:href="@{/webapp/images/m&z.png}" alt="M&Z-logO"/><br />

        <li>
            <a href="/home">Home</a>
            <a href="/service">Service</a>
            <a href="/contact">Contact</a>
            <a href="/about">About us</a>
        </li>
    </div>
</div>

<!-- Call Button-->
<a href="tel:+61423492494" id="call">Call us</a>

<!-- Main Display Picture-->
<div class="container1"></div>
<div class="container">
    <!--  Get a Quote -->
    <a href="/webapp/html/contact.html" th:href="@{/webapp/html/contact.html}"> GET A FREE QUOTE </a>
</div>
<p class="needPainter">
    Need a painter ? <br />
    Proudly serving all around Australia
</p>

<!--  Body Page -->

<!--<div class="allPage">-->

    <h2 style="color: rgb(136, 36, 36); margin: 0; padding: 0"> Skills & Capabilities</h2>

<!--    Bullet Points on Home Page -->
    <div class="skills">
        <b>Sydeny CBD</b><br />
        <div class="skill-line"> &bull; Well versed in all facets of professional painting and touch ups</div>

        <div class="skill-line"> &bull; Expert in using of hand and power painting tools </div>

        <div class="skill-line">&bull; knowledge of standards commercial painting procedures </div>

        <div class="skill-line">&bull;  Demonstrates ability to read, write and follow instructions </div>

        <div class="skill-line"> &bull; Well aware of state approved safety policies and procedures
            regarding commercial painting </div>
    </div>


    <!-- Service Images -->

    <div class="serviceImages">
        <span class="interior">Interior</span>
        <img src="/webapp/images/color.10.jpg" th:href="@{/webapp/images/color10.jpg}" id="col2" alt="col2" />
        <img src="/webapp/images/color1.jpg" th:href="@{/webapp/images/color1.jpg}" id="col1" alt="col1" />
        <span class="exterior">Exterior</span>
    </div>

    <br />
    <br />

<!--<p th:text="model: ${savedUser}"></p>-->


<!--    Form -->

    <div id="form">
        <form action="registerUser" th:action="@{/registerUser}"  th:object="${user}" method="POST">
            <br />
            <label>Your Name:</label><br />
            <input type="text" th:field="*{name}"  placeholder="" required /> <br>
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></p>


            <label >Your Suburb</label><br />
            <input type="text"  th:field="*{suburb}"  placeholder="" required /> <br>
            <p th:if="${#fields.hasErrors('suburb')}" th:errors="*{suburb}" class="error"></p>

            <label>Email</label><br/>
            <input type="email" th:field="*{email}"  placeholder="" required /><br>
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></p>

            <label>Phone</label><br/>
            <input type="tel" th:field="*{phone}" placeholder="" /><br>
            <p  th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"  class="error"></p>

            <label>Today's Date</label><br>
            <input type="date" th:field="*{date}"/> <br>
            <p th:if="${#fields.hasErrors('date')}" th:errors="*{date}" class="error"></p>

            <label>Please tell us how we can help</label><br />
            <textarea type="text" th:field="*{text}" rows="10" cols="40"></textarea><br>
<!--            <p th:if="${#fields.hasErrors('text')}" th:errors="*{text}" style="color:red; background:pink; display:inline"></p>-->
            <div>
                <input class="submit" type="submit" value="Submit"  /><br/><br/>
            </div>
        </form>
    </div>

<!-- Footer  -->

<div class="footer">
<!--    Facebook-->
    <a class="fa fa-facebook" style="color:rgb(241, 243, 239);" href="https://www.facebook.com/m.z.painting.au/" target="_blank"></a>
<!--    Email-->
    <a href="mailto:mz_painting@yahoo.com" class="email">mz_painting@yahoo.com</a>
    <img src="/webapp/images/fBlue.png" alt="facebook" width="60px" height="70px" />
    </a>

    <p>&COPY;M&Z 2022</p>
</div>
</body>
</html>