<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact us</title>

    <link href="/webapp/css/contact.css" th:href="@{/webapp/css/contact.css}" rel="stylesheet"/>
</head>




<body>
<div class="header">
    <!-- head -->
    <h1 class="head">M&Z Painting & Repairs</h1>
    <!--  Logo -->
    <img class="image" src="/webapp/images/m&z.png" th:href="@{/webapp/images/m&z.png}" alt="M&Z-logO"/><br />


    <li>
        <a href="/home">Home</a>
        <a href="/service">Service</a>
        <a href="/contact">Contact</a>
        <a href="/about">About us</a>
    </li>

</div>


<p class="fHead">
    <b> How can we assist ?</b> <br> Call Zubair on
    <strong>0423492494</strong> or fill out the form below.
</p>



<!--  Form  -->
<div id="form">
    <form action="/data" method="POST" th:Object="${form}" th:action="${/submitForm}">
        <br />

        <label for="name" th:text="#{form.name}">Your Name:</label><br />
        <input type="text" th:field="*{name}"/>

        <label for="suburb" th:text="#{form.suburb}">Your Suburb</label><br />
        <input type="text" th:field="*{suburb}"  placeholder="" /><br />

        <label for="email" th:text="#{form.email}">Email</label><br />
        <input type="email" th:field="*{email}" placeholder="example@email.com"/><br />

        <label for="phone" th:text="#{form.phone}">Phone</label><br />
        <input type="tel" th:field="*{phone}"/><br />

        <label for="text" th:text="note">Please tell us how we can help</label>
        <br />
        <textarea type="text" th:text="#{form.note}" th:field="*{note}" rows="10" cols="40"></textarea><br />

        <div>
            <input class="submit" th:text="#{form.submit}" value="Submit" />
            <br /><br />
        </div>
    </form>
</div>



<!--  Footer  -->
<footer class="footer">
    <a class="fa fa-facebook" style="color:rgb(241, 243, 239);" href="https://www.facebook.com/M&Z.painting.au/" target="_blank"></a>
    <a href="mailto:mz_painting@yahoo.com" class="email">mz_painting@yahoo.com</a>
    <p>&COPY;M&ZP-R 2021</p>
</footer>
</body>
</html>