<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Services</title>

    <link href="/webapp/css/service.css" th:href="@{/webapp/css/service.css}" rel="stylesheet"/>

</head>
<body>
<div class="header">
    <div id="menu">
        <!-- head -->
        <h1 class="head">M&Z Painting & Repairs</h1>

        <!--  Logo -->
        <img class="image" src="/webapp/images/m&z.png" th:href="@{/webapp/images/m&z.png}" alt="M&Z-logO"/><br />
        <li>
            <a href="/home">Home</a>
            <a href="/service">Service</a>
            <a href="/contact">Contact</a>
            <a href="/about">About us</a>
        </li>
    </div>
</div>
<br /><br><br><br>


<h3>Professional Experience</h3>

<!-- Intro and Head-->

<p class="Intro">
    Extremely talented dependable painter with more than eight years of
    experience in commercial painting; <br />
    expert interior and exterior painting of buildings; guru of priming,
    colour mixing and matching, immaculate knowledge regarding commercial
    painting techniques and safety procedures.
</p>

<!-- <div class="serviceImages"> -->
<div class="displayImages">
    <p>Assigned number of tanks daily, ensuring internal colour seal</p>
    <p>Inspects the building monthly performed touch ups where inquired</p>
    <p>Maintained record of all painting material purchase</p>
    <p>Supervised wood polish and varnish in the building</p>
    <img src="/webapp/images/color1.jpg" th:href="@{/webapp/images/color1.jpg}"/>
</div>

<div class="displayImages">
    <p>
        Kept the work areas neat and clean; maintained brushes and paint boxes
        in excellent condition, ready to work
    </p>

    <p>Measured area to be paint and estimate paint costs</p>
    <img src="/webapp/images/color5.jpg" th:href="@{/webapp/images/color5.jpg}" alt="image" />
    <p>Prepared surface to be painted by scraping and sanding</p>


    <p>
        Trained two newly hired in experience Painter in priming, mixing,
        blending and applying paint
    </p>
</div>

<div class="displayImages">
    <img src="/webapp/images/color8.jpg" th:href="@{/webapp/images/color8.jpg}" id="col2" alt="col2" />
    <p>Conducted any repair work assigned</p>
    <p>
        Full spray experience spray bathroom, spray kitchen glass, satin, Matt
        finished, Spray tiles and Any spray job
    </p>
</div>
<br /><br />



<!--  Footer  -->

<footer class="footer">
<!--    Facebook-->
    <a class="fa fa-facebook" style="color:rgb(241, 243, 239);" href="https://www.facebook.com/M&Z.painting.au/" target="_blank"></a>
<!--    Email-->
    <a href="mailto:mz_painting@yahoo.com" class="email"> mz_painting@yahoo.com</a>
    <p>&COPY;M&ZP-R 2021</p>
</footer>

</body>
</html>